.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
header{
    width: 100%;
    background-image: url(../img/img1.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center 0;
}
header .contenedor{
    position: relative;
    height: 700px;
}
header .text{
    width: 100%;
    color: #fff;
    position: absolute;
    top:50%;
    margin-top: -52px;
}
header .redes-sociales a {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    text-align: center;
    line-height: 2.5em;
    display: inline-block;
    background: navy;
    color: #fff;
    margin-left: 1.25em;
}

header .redes-sociales a.youtube {
    background: #c05554;
}

header .redes-sociales a.facebook {
    background: #3b5998;
}

header .redes-sociales a.twitter {
    background: #55acee;
}